{% extends 'office/base.html' %}
    
    {% block title %}All The Customer{% endblock title %}

    {% block content %}
    <h1>Customers</h1>

    <ul>
        {% for x in vetcustomers %}
        <li><a href="{% url 'office:details' x.id %}">{{ x.firstname }} {{ x.lastname }}</a></li>
        {% endfor %}
          <!--  <li><a href="office/details/{{ x.id }}">{{ x.firstname }} {{ x.lastname }}</a></li>-->
        
    </ul>
    <button onclick="myFunction()">Do not click!</button>

    <script>
        
        function myFunction() {
          alert("I asked you not to click this!");
        }
            </script>
    {% endblock content %}

