{% extends 'office/base.html' %}

{% block title %}Log in Page{% endblock title %}


    {% block content %}
    <link href="/docs/5.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <h1>Login</h1>
    <form action="" method="POST">
        {% csrf_token %}
        <body class="text-center">
    
            <main class="form-signin w-100 m-auto">
                
                <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
            
                <div class="form-floating">
                  <input type="text" class="form-control" id="floatingInput" name="username" placeholder="username">
                  <label for="floatingInput">User Name</label>
                </div>
                <div class="form-floating">
                  <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password">
                  <label for="floatingPassword">Password</label>
                </div>
            
                <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
                
              </form>
            </main>


    


    {% endblock content %}